In [2]:
%matplotlib inline
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('seaborn-dark')
plt.rcParams.update({ 'font.size' : 15, 'xtick.labelsize':15, 'ytick.labelsize':15 })

In [33]:
data = pd.read_csv('births.csv')
# remove nan values
data = data.dropna()
# remove lines where day = 99
data = data[data.day != 99]

In [24]:
year = pd.cut(data['year'], [1960, 1970, 1980, 1990])
visu = data.pivot_table('births', year, 'month', aggfunc='sum')
visu

month,1,2,3,4,5,6,7,8,9,10,11,12
year,,,,,,,,,,,,
"(1960, 1970]",596016,552006,603644,569490,587014,594698,648514,652036,644778,635762,606294,643698
"(1970, 1980]",2752425,2553947,2776784,2609183,2710739,2686452,2919502,2979968,2924062,2866497,2696224,2786956
"(1980, 1990]",2410724,2256993,2487712,2382230,2487467,2477546,2652279,2677760,2637333,2553113,2392970,2473722

In [67]:
date_df = data.loc[:, ['year', 'month', 'day']]
date = pd.to_datetime(date_df, format='%Y-%m-%d', errors='coerce')

In [84]:
date_df = date.to_frame()

AttributeError: 'DataFrame' object has no attribute 'to_frame'